<% tag_arr = ["Sweet","Strong", "Sour", "Fruity", "Spicy", "Colory", "Misterious"] %>
<%= render 'shared/navbar' %>
<div class="banner  d-flex flex-column align-items-center justify-content-end" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(' <%= cl_image_path "izh5efichs8emgcvdjsy" %>')">
  <div class="container text-center">
    <div>
      <h1 class="white-title">Cocktail <strong>recipes</strong> for <strong>inspired folks</strong>!</h1>
      <p class="white-p">Change your life and learn how to create the best cocktails.</p>
    </div>
    <div class="d-flex justify-content-center">
        <form class="form-inline my-2 my-lg-0" action="/">
          <input class="form-control mr-sm-2" name="query" type="search" placeholder="Mojito? Kaipi ..." aria-label="Search">
          <select class="multiple-select" name="cocktail_type" id="job-date-search" placeholder = "Tags">
            <option value="">--Please choose a tag--</option>
            <% tag_arr.each do |tag| %>
              <option value=<%=tag%>><%= tag.capitalize %></option>
            <%end%>
          </select>
          <input type="text" name = "address" placeholder = 'Address' id = "cocktail-address-home">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </div>
</div>




<div class="d-flex">
<div class="container py-5">
  <div class="row">
      <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.attached?%>
        <div class="col-12 col-md-4">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key %>')">
              <h2><%=cocktail.name%></h2>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="col-12 col-md-4">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "izh5efichs8emgcvdjsy" %>')">
              <h2><%=cocktail.name%></h2>
            </div>
          <% end %>
        </div>
      <% end  %>
      <% end %>
  </div>
</div>
<div class="map-container py-5">
  <div id="map"
       style="width: 100%; height: 600px; margin-top: 14px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

</div>
<%= render "shared/footer" %>




