<%= render 'shared/navbar' %>
<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= cl_image_path @cocktail.photo.key, crop: :fill; %>')">
  <div class="container show-info">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7 card-description">
        <div>
          <h1><%= @cocktail.name %></h1>
        </div>
        <div>
          <div class="tags-container">
            <ul>

              <% @cocktail.cocktail_tags.each do |cocktail_tag| %>
              <li>
                <span><%= cocktail_tag.tag.name %></span>
                <%= link_to cocktail_tag_path(cocktail_tag), method: :delete, class: "delete" do %>
                    <i class="fas fa-times text-white"></i>
                <% end %>
              </li>
              <% end %>
              <li class="bg-transparent"><%= link_to new_cocktail_cocktail_tag_path(@cocktail) do %>
                    <i class="far fa-plus-square"></i>
                  <% end %>
              </li>
            </ul>
          </div>
          <div class="comments-container">
            <ul>
              <% @cocktail.reviews.each do |review| %>
              <li>
                <% review.rating.times do  %>
                  <i class="fas fa-star"></i>
                <% end %>
                <%= review.content %>
              </li>
              <% end %>
            </ul>
          </div>
          <div class="d-flex justify-content-center">
          <%= link_to "Leave a review",  new_cocktail_review_path(@cocktail), class: "btn-show-review"%>
          <br>
          <%= link_to "Go back",   root_path, class: "btn-show-back"  %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3 card-ingredient ml-md-4">
        <h3>Ingredients:</h3>
        <ul>
        <% @cocktail.doses.each do |dose|  %>
          <li>
            <%= dose.description  %> - <%= dose.ingredient.name %>
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Delete #{dose.ingredient.name} ?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
        <% end %>
        </ul>
        <div class="d-flex justify-content-center">
          <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn-dose"%>
        </div>
      </div>
    </div>
  </div>
</div>

