<%= render 'shared/navbar' %>
<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= cl_image_path @cocktail.photo.key %>')">
  <div class="container show-info">
    <div class="row d-flex justify-content-center">
      <div class="col-md-7 card-description">
        <div>
          <h1><%= @cocktail.name %></h1>
        </div>
        <div>
          <p> <%= "Lorem ipsum sdfnefkqsdfjkqsdfqsdkfq" * 3 %> </p>
        </div>
      </div>
      <div class="col-md-3 card-ingredient ml-4">
        <h3>Ingredients:</h3>
        <ul>
        <% @cocktail.doses.each do |dose|  %>
          <li>
            <%= dose.description  %><%= dose.ingredient.name %>
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Delete #{dose.ingredient.name} ?" } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
        <% end %>
        </ul>
        <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn-dose"%>
      </div>
    </div>
  </div>
</div>

